<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Car Rental - Home Page</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="#" th:href="@{/}">VSMang</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					
					<li class="nav-item">
						<a class="nav-link active" th:href="@{/registration}">Registeration Page</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" th:href="@{/login}">Log In Page</a>
					</li>
					
				</ul>
			</div>
		</div>
	</nav>
	<main class="container">
	
	<form th:action="@{/admin/save-edit-renter/} + ${renterObj.getId()}" method="POST" th:object="${user}" class="my-4">
	
			<!-- error message -->
			<div th:if="${param.error}" class="container my-3">
				<div 
					class="alert alert-danger"
					style="text-align: center !important; display: block;">
					Something went wrong! Please try again.
				</div>
			</div>

			<div class="form-group my-3">
				<label for="firstName">First Name</label> 
				<input
					type="text" 
					class="form-control" 
					id="firstName"
					aria-describedby="firstnameHelp" 
					name="firstName" 
					th:placeholder="${renterObj.getFirstName()}"
					th:field="*{firstName}"
					required> 
				<small class="form-text text-muted" th:text="'Current First Name: ' + ${renterObj.getFirstName()}"></small>
			</div>
			
			<div class="form-group my-3">
				<label for="lastName">Last Name</label> 
				<input
					type="text" 
					class="form-control" 
					id="lastName"
					aria-describedby="lastnameHelp" 
					name="lastName" 
					th:placeholder="${renterObj.getLastName()}"
					th:field="*{lastName}"
					required> 
				<small class="form-text text-muted" th:text="'Current Last Name: ' + ${renterObj.getLastName()}"></small>
			</div>
	
			<div class="form-group my-3">
				<label for="email">Email Address</label> 
				<input
					type="email" 
					class="form-control" 
					id="email"
					aria-describedby="usernameHelp" 
					name="email"
					th:placeholder="${renterObj.getEmail()}"
					th:field="*{email}"
					required> 
				<small class="form-text text-muted" th:text="'Current Email: ' + ${renterObj.getEmail()}"></small>
			</div>
			
			<button type="SUBMIT" class="btn btn-dark">Save Edit</button>
		</form>
		
	</main>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
		crossorigin="anonymous"></script>
</body>
</html>