<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Car Rental - Home Page</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="#" th:href="@{/}">CarRental</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					
					<li class="nav-item">
						<a class="nav-link" th:href="@{/registration}">Registeration Page</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link active" th:href="@{/login}">Log In Page</a>
					</li>
					
				</ul>
			</div>
		</div>
	</nav>
	<main class="container">
	
	<form th:action="@{/login}" method="POST" class="my-4">
	
			<!-- error message -->
			<div th:if="${param.error}" class="container my-3">
				<div 
					class="alert alert-danger"
					style="text-align: center !important; display: block;">
					Invalid username or password.
				</div>
			</div>
				
			<!-- logout message -->
			<div th:if="${param.logout}">
				<div 
					class="alert alert-info"
					style="text-align: center !important; display: block;">
					You have been logged out.
				</div>
			</div>
	
	
			<div class="form-group my-3">
				<label for="email">Email Address</label> 
				<input
					type="email" 
					class="form-control" 
					id="username"
					aria-describedby="usernameHelp" 
					name="username" 
					placeholder="example@domain"
					required> 
			</div>
			<div class="form-group my-3">
				<label for="password">Password</label> 
				<input
					type="password" 
					class="form-control" 
					id="password"
					placeholder="Password"
					name="password"
					required>
			</div>
			<button type="submit" class="btn btn-dark">Log In</button>
		</form>
		
		<div class="form-group">
			<span>New user? 
				<a href="/" th:href="@{/registration}">Register here</a>
			</span>
		</div>
		
	</main>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
		crossorigin="anonymous"></script>
</body>
</html>