<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Car Rental - Home Page</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" th:href="@{/renter}">CarRental</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					
					<li class="nav-item">
						<a class="nav-link active" th:href="@{/renter/manage-cars}">Manage Cars</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" th:href="@{/renter/add-car}">Add Car</a>
					</li>
					
				</ul>
			</div>
			<span sec:authorize="isAuthenticated()">
				<a class="btn btn-sm btn-danger" th:href="@{/logout}">Logout</a>
			</span>
		</div>
	</nav>
	<main class="container">
		<table class="table table-hover my-3">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Model</th>
					<th scope="col">Type</th>
					<th scope="col">Fuel</th>
					<th scope="col">Mileage</th>
					<th scope="col" colspan='2'> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="car :${cars}">
					<td th:text="${car.getId()}">		</td>
					<td th:text="${car.getModel()}">	</td>
					<td th:text="${car.getType()}">		</td>
					<td th:text="${car.getFuelType()}">	</td>
					<td th:text="${car.getMileage()}">	</td>
					<td><a th:href="@{/renter/edit-car/}+${car.getId()}">Edit</a></td>
					<td>
						<form th:action="@{/renter/delete-car/} + ${car.getId()}" method="POST">
							<button type="SUBMIT" class="btn btn-sm btn-danger">Remove Car</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div class="d-flex justify-content-center">
			<h5> Add new car <a th:href="@{/renter/add-car}" class="d-inline-block mx-1"> here </a> </h5>
		</div>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row">
				<div class = "col-sm-7">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-2">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/renter/manage-cars/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/renter/manage-cars/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-2">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/renter/manage-cars/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
		
	</main>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
		crossorigin="anonymous"></script>
</body>
</html>